version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2404:current # Specify the Ubuntu VM image
    parallelism: 4
    steps:
      - checkout
      - run:
          name: Run build commands
          command: |
            echo "oy"
